.break {height:20px;}
.break-top {margin-top:20px;}
.break.bottom {margin-bottom:20px;}
.break-right {margin-right:20px;}
.right {float:right;}
.clear {clear:both;}
.clear-right {clear:right;}
.clear-left {clear:left;}
.table-hover {cursor:pointer;}



