// grids

table.break-top.table.table-bordered.table-hover
	thead
		tr
			th Name
			th Size

	tbody
	each grid in grids
		tr(data-navigate-url="/admin/grid/#{grid._id}")
			td #{grid.name}
			td #{grid.size}