script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
script(src="/javascripts/libs/underscore.min.js")
script(src="/bootstrap/js/bootstrap.min.js")
script(src="/vtx.js")
script(src="/js/common.js")

script(type='text/javascript')
	var serverData={page:"#{page}"}